# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Vercel
.vercel

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
